<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
{{ FriendModel | json }}
<div>
  <form #friendForm="ngForm">
    <label for="firstname">Firstname : </label>
    <input type="text" name="firstname" placeholder="Firstname" [(ngModel)]="FriendModel.firstname"><br><br>
    <label for="lastname">Lastname : </label>
    <input type="text" name="lastname" placeholder="Lastname" [(ngModel)]="FriendModel.lastname"><br><br>
    <label for="email">Email : </label>
    <input type="text" name="email" placeholder="Email" [(ngModel)]="FriendModel.email"><br><br>
    <label for="phone">Phone number : </label>
    <input type="text" name="phone" placeholder="phone number" [(ngModel)]="FriendModel.phone"><br><br>
    <p>Your favorite languages</p>

    <input type="checkbox" name="html" value="html" ngModel="html">
    <label for="html">HTML</label><br><br>

    <input type="checkbox" name="css" value="css" ngModel="css">
    <label for="css">CSS</label><br><br>

    <input type="checkbox" name="js" value="js" ngModel="js">
    <label for="js">JavaScript</label><br><br>

    <input type="checkbox" name="php" value="php" ngModel="php">
    <label for="php">PHP</label><br><br>

    <input type="checkbox" name="symfony" value="symfony" ngModel="symfony">
    <label for="symfony">Symfony</label><br><br>
    <button type="submit">Submit</button>
  </form>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
