<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
{{ FriendModel | json }}
<div>
  <form #formName="ngForm">
    <label>Firstname : </label>
    <input type="text" name="firstname" placeholder="Firstname" #firstname="ngModel"[(ngModel)]="FriendModel.firstname"><br><br>
    <div [hidden]="firstname.valid || firstname.pristine" class="alert alert-danger">
      Your firstname is required!
    </div>

    <label>Lastname : </label>
    <input type="text" name="lastname" placeholder="Lastname" #lastname="ngModel"[(ngModel)]="FriendModel.lastname"><br><br>
    <div [hidden]="lastname.valid || lastname.pristine" class="alert alert-danger">
      Your lastname is required!
    </div>

    <label>Email : </label>
    <input type="text" name="email" placeholder="Email" #email="ngModel"[(ngModel)]="FriendModel.email"><br><br>
    <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
      Your firstname is required!
    </div>

    <label>Phone number : </label>
    <input type="text" name="phone" placeholder="phone number" #phoneNumber="ngModel"[(ngModel)]="FriendModel.phoneNumber"><br><br>
    <div [hidden]="phoneNumber.valid || phoneNumber.pristine" class="alert alert-danger">
      Your firstname is required!
    </div>

    <label>Your favorite languages</label>
    <select name="lang" ngModel="selectedLang" >
      <option *ngFor="let lang of languages" [value]="lang">{{lang}}</option>
    </select>
    <button type="submit">Submit</button>
  </form>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
